# Node
node_modules/
dist/
.turbo/
.next/
pnpm-lock.yaml
pnpm-workspace.yaml

# Env
.env*

# OS
.DS_Store

# Python
__pycache__/
.venv/
*.pyc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
